:root {
  --color-white: #ffffff;
  --color-black: #000508;
  --color-black-o: #20202166;
  --color-orange-1: #DA4510;
  --color-orange-2: #E76A04;
  --color-orange-3: #F79001;
  --gradient-orange-1: linear-gradient(270deg, #BC1422 0%, #EC6206 100%);
  --gradient-orange-2: linear-gradient(180deg, #E36B04 0%, #D65207 100%);
  --gradient-orange-3: linear-gradient(180deg, #F79101 45.6%, #DE5406 100%);
  --gradient-orange-4: linear-gradient(#EC6206, #BC1422);
}

$color-text: var(--color-white);
$color-background: var(--color-black);

$font-title: 'Fira Code', 'Calibri', 'Arial', sans-serif;
$font-main: 'Montserrat', 'Calibri', 'Arial', sans-serif;

$shadow: 0 4px 4px #00000040;

$padding-unit: 1.2rem;

$font-size-h1: 4rem;
$font-size-h2: 2.5rem;
$font-size-h3: 1.75rem;
$font-size-text: 1.5rem;
$font-size-caption: 1rem;

$width-sm: 576px;
$width-md: 768px;
$width-lg: 1000px;
$width-xl: 1200px;
$width-xxl: 1440px;
$width-xxxl: 1920px;

$width-content: $width-xxl;

// @mixin breakpoint-sm {
//   @media (max-width: $width-sm) { @content; }
// }
// @mixin breakpoint-md {
//   @media (max-width: $width-md) { @content; }
// }
// @mixin breakpoint-lg {
//   @media (max-width: $width-lg) { @content; }
// }
// @mixin breakpoint-xl {
//   @media (max-width: $width-xl) { @content; }
// }
// @mixin breakpoint-xxl {
//   @media (max-width: $width-xxl) { @content; }
// }
// @mixin breakpoint-xxxl {
//   @media (max-width: $width-xxxl) { @content; }
// }

// @mixin vartical {
//   @media (orientation: landscape) { @content; }
// }
// @mixin horizontal {
//   @media (orientation: portrait) { @content; }
// }

// @mixin scrollbar {
//   ::-webkit-scrollbar {
//     width: 0.3rem;
//     height: 0.3rem;
//     background-color: $color-background;
//   }

//   ::-webkit-scrollbar-thumb {
//     background-color: var(--color-grey-1);
//     border: none;
//   }
// }
